<!DOCTYPE html>
<html>
	<head>
		<title>Login and Registration</title>
		<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/style.css')}}">
	</head>

	<body>
			<div id='messeges'>
				{% with messages = get_flashed_messages() %}
					{%if messages %}
						{% for message in messages %}
							<p>{{message}}</p>
						{% endfor %}
					{%endif%}
				{% endwith %}
			</div>
			<div id="wrapper">
				<form action="/regestration" method="POST">

					<div class="form-element">
						<label for="email">Email</label>
		  				<input type="text" name="email" id="email" placeholder="eg.yourname@gmail.com">
		  			</div>

		  			<div class="form-element">
						<label for="first-name">First Name</label>
		  				<input type="text" name="first-name" id="first-name" >
		  			</div>

		  			<div class="form-element">
						<label for="last-name">Last Name</label>
		  				<input type="text" name="last-name" id="last-name" >
		  			</div>

	  				<div class="form-element">
		  				<label for="password">Password</label>
		  				<input type="password" name="password" id="password">
	  				</div>

	  				<div class="form-element">
		  				<label for="password">Confirm Password</label>
		  				<input type="password" name="passwordconfirm" id="passwordConfirm">
	  				</div>


	  				<div class="form-element">
		  				<input type="submit" id="submitbutton" value="Sign Up">
	  				</div>
  				</form>


  				
  				<form action="/login" method="POST">

					<div class="form-element">
						<label for="email">Email</label>
		  				<input type="text" name="email" id="email" placeholder="eg.yourname@gmail.com">
		  			</div>

	  				<div class="form-element">
		  				<label for="password">Password</label>
		  				<input type="password" name="password" id="password">
	  				</div>


	  				<div class="form-element">
		  				<input type="submit" id="submitbutton" value="Log In">
	  				</div>
  				</form>

  			</div>


		
		

	</body>
</html>