 <!DOCTYPE html>
<html>
	<head>
		<title>This is ninjas website</title>
	</head>

	<body>

		{% if not color %}
			<img src="{{ url_for('static', filename='img/tmnt.png') }}">

		{% elif color=='red' %}
			<img src="{{ url_for('static', filename='img/red.jpg') }}">

		{% elif color=='blue' %}
			<img src="{{ url_for('static', filename='img/blue.jpg') }}">

		{% elif color=='orange' %}
			<img src="{{ url_for('static', filename='img/orange.jpg') }}">

		{% elif color=='purple' %}
			<img src="{{ url_for('static', filename='img/purple.jpg') }}">

		{% else %}
			<img src="{{ url_for('static', filename='img/notapril.jpg') }}">
		{% endif %}

	</body>
</html>